@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;400&display=swap');
.dictionary-container{
    min-height: 60px;
    font-family: 'Muli', sans-serif;
}
.dict-container {
    width: 1152px;
    max-width: 90%;
    margin: 0 auto;
}
section.input {
    padding-top: 12px;
}
h4 {
    text-align: center;
    /* font-size: 36px; */
}
.form__wrap {
    display: flex;
    justify-content: center;
}
.input__wrap {
    display: flex;
    align-items: center;
    /* border: 1px solid #ddd; */
    margin-top: 10px;
    /* border: 1.5px solid black; */
    border-radius: 15px;
    height: 24px;
}
.dict-input {
    border: none;
    padding: 6px;
    font-size: 16px;
    min-width: 210px;
    outline: none;
    background-color: rgba(255,255,255,0.6);
    background-color: #ebedf5;
    border-radius: 15px;
}
.dict-input:focus {
    background-color: rgba(255,255,255);
}
.dict-button{
    background:#553C9A;
    color: #fff;
    height: 100%;
    font-size: 16px;
    /* padding: 0 20px; */
    cursor: pointer;
    width: 75px;
    border-radius: 15px;
}
section.data{
    max-width: 290px;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
    position: absolute;
    background-color: rgba(255,255,255,0.9);
    margin-left: 3px;
    border-radius: 15px;
}
.loading {
    display: none;
}

section.data p.def {
    font-size: 16px;
    color: #2D3748;
    line-height: 1.6;
}
.suggested {
    background: #B794F4;
    color: #fff;
    padding: 2px 10px;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 5px;
    display: inline-block;
    min-height: 0px;
}
.audio {
    /* margin-top: 15px; */
    /* width: 250px;
    height: 40px; */

    /* width: 250px;
    height: 40px; */
    /* margin: 0 auto; */
}
audio
{
    width: 250px;
    height: 40px;
}

.data{
    position: absolute;
    /* background-color: rgba(255,255,255,0.6); */
    /* border: 15px; */
    background-color: rgba(255,255,255,0.8);
    margin-left: 3px;
    /* border-radius: 15-x; */
    border-radius: 15px;
    /* min-height: 0px; */
}

.dictionary-container.useful-div
{
    height: 70px;
}